<div data-hook="taxon_info">
  <% if @taxon.header %>
    <p data-hook="taxon_header">
      <%= image_tag @taxon.header %>
    </p>
  <% end -%>
  <% if @taxon.description.present? %>
    <p data-hook="taxon_description">
      <%= raw @taxon.description %>
    </p>
  <% end %>
</div>

